body {
    background-image: url(effervescent.jpg.jpg); 
    font-family:Georgia, 'Times New Roman', Times, serif
    
}
p {
    font-size: 22px;
    background-color: rgb(34, 3, 146);
    color: whitesmoke;
    margin: 40px 25px 1px 25px;
    font-family:Arial, Helvetica, sans-serif
     
   
}

ul {

}

h2 {
    font-size: 28px;
    color: blue;
}
h4 {
    font-family: Georgia, 'Times New Roman', Times, serif

}


.position {
    position: sticky;
    top: 1900px;
    right: 900px;
    bottom: 100px; 
    left: 10px;
    
}

div.position {
    position: absolute;
    left: 100px;
    right: 800px;
    top: 2200px;
}

img {
    background-image: cross-fade(20%)
        
    }


div.box {

    font-size: 24px;
    background-color: rgba(7, 187, 109, 0.598);
    width:300px;
    border:5px solid rgb(54, 78, 4);
    padding: 20px;
    margin: 25px;
}



h1 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
   font-size: 50px;
   color: whitesmoke;
}

h5 {
    font-size: 30px;
    color: whitesmoke
}
h6 {
    background-color: rgb(16, 9, 152);
    font-size: 18px;
    color: whitesmoke;
}
ul {
    font-size: 22px;
    color: whitesmoke;
    
}


footer {
    position: absolute;
    left: 10px;
    right: 700px;
    top: 10000px;
    bottom: 1px;
}

li {

    background-color: rgb(14, 13, 13);
}

form {
    color: whitesmoke;
}
.example6 {
    font-size: 24px;
    text-align: left;


    display: inline;
}
    nav.sticky {
        background-color:rgb(172, 168, 168)
        position: sticky;
        top: 0;
        padding: 3px;
        
        border: 1px solid gray;
    }

#image {
    margin-top: 200px;
    margin-bottom: 15px;
    margin-right: 10px;
    margin-left: 700px;
}

.image {
    margin-top: 20px;
    margin-bottom: 75px;
    margin-right: 600px;
    margin-left: 30px;
}
.example {
    color: brown;
}
.example2 {
    background: black;
}
section {
    color: rgb(148, 11, 121);
}
.container {
    color: rgb(205, 17, 17);
    }

    #container {
        color: grey;
        font-size: 22px;
        background-color: rgb(230, 230, 235);
    }
div.container3 {
font-size: 50px;
background-color: rgb(64, 59, 91);
}
div.container {
color: rgb(178, 11, 11);
}
.div.container2 {
background-color: green;
}
p.sample {
color: yellowgreen;
font-size: 50px;
text-align: center;
}
section a {
background-color:violet;
}

.container a {
color: orange;
}

.green {
color: rgb(6, 62, 6);
}
#blue {
color: blue;
}

 .example5 {
    font-size: 18px;
   color: whitesmoke;

 }
.example6 {
    
    color: blue;
}

#anim {
    animation-name: colorful;
    animation-duration: 20s;
  }

  @keyframes colorful {
    0% {
      background-color: blue;
    }
    25% {
        background-color
    }
    50% {
        background-color: purple;
    }
    100% {
      background-color: yellow;
    }
  }
.example7 {
    text-align: center;
    color: black
   ;
}



      
  
-->