body {
    font-family:Georgia, 'Times New Roman', Times, serif
    
}
p {
    font-family:Arial, Helvetica, sans-serif
    font-size: 22px;
}

ul {

}
h4 {
    font-family: Georgia, 'Times New Roman', Times, serif

}
div.position {
    position: absolute;
    left: 100px;
    right: 800px;
    top: 1800px;
}

img {
    background-image: cross-fade(20%)
        
    }
}

.box {
    background-color: rgba(211, 211, 211, 0.598);
    width:300px;
    border:15px solid rgb(54, 78, 4);
    padding: 50px;
    margin: 50px;
}

p {
    
    background-color: rgb(183, 28, 165);
    color:rgb(172, 168, 168);
    margin: 40px 25px 1px 25px;
}

h1 {
    font-family: Arial, Helvetica, sans-serif
    text-align: center;
   font-size:50px;
}

footer {
    position: absolute;
    left: 10px;
    right: 700px;
    top: 5000px;
    bottom: 10px;
}

example6 {
    font-size: 24px;
    text-align: right;

}
    display: inline;
   
    nav.sticky {
        position: sticky;
        top: 0;
        padding: 3px;
        background-color: rgb(153, 6, 136);
        border: 1px solid gray;
    }

#image {
    margin-top: 200px;
    margin-bottom: 15px;
    margin-right: 10px;
    margin-left: 700px;
}

.image {
    margin-top: 20px;
    margin-bottom: 75px;
    margin-right: 600px;
    margin-left: 30px;
}
.example {
    color: brown;
}
.example2 {
    background: black;
}
section {
    color: rgb(148, 11, 121);
}
.container {
    color: red;
    }

    #container {
        color: grey;
        font-size: 22px;
        background-color: blue;
    }
div.container3 {
font-size: 50px;
background-color: aquamarine;
}
div.container {
color: red;
}
.div.container2 {
background-color: green;
}
p.sample {
color: yellowgreen;
font-size: 50px;
text-align: center;
}
section a {
background-color:violet;
}

.container> a {
color: orange;
}
p {
font-size: 24px;
}
p {
font-size: 32px!important;
}
.green {
color: rgb(6, 62, 6);
}
#blue {
color: blue;
}

.example5 {
    font-size: 18px;
}

.example6 {
    font-size: 22px;
    color: blue;
}

#anim {
    animation-name: colorful;
    animation-duration: 3s;
  }

  @keyframes colorful {
    0% {
      background-color: blue;
    }
    100% {
      background-color: yellow;
    }
  }
.example7 {
    text-align: center;
    color: black
    font-size: 18px;
}



      
  
-->